label {
    font-size: 12px;
}

frame {
    text-align: center;
    border: 1px solid #000000;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
}

entry {
    border: 1px solid #ccc;
}

calendar {
    border-radius: 0.5rem;
}

